.simply-countdown {
  overflow: hidden;
  display: table;
  margin: auto;
}

.simply-countdown>.simply-section {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 15px;
}

.simply-countdown>.simply-section .simply-amount,
.simply-countdown>.simply-section .simply-word {
  display: block;
  text-align: center
}