@layer utilities {
  :root {
    --pink: #f14e95;
    --bg: #f7ede2;
    --shadow: 0 2px 2px rgb(0,0,0 / 0.5)
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    min-height: 2000px;
    background-color: var(--bg);
  }
  .hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('img/hero-background.jpg');
    z-index: -1;
    filter: brightness(60%);
  }
  .hero {
    position: relative;
    min-height: 100vh;
  }
}